Repository gflze/CS2-ZE-Configs, pull requests merged in 2024-04, with the labels that each got.

#4 Anti-delay stuff for winter warehouse + minecraft sakura translation
  stripper/ze_minecraft_sakura/default_ents.jsonc
  stripper/ze_winter_warehouse_p/default_ents.jsonc
Labels: Stripper

#5 Delay initial infection times on colors and cerberon
  mapcfg/ze_colors_p.cfg
  mapcfg/ze_descent_into_cerberon_p.cfg
Labels: Map Config

#6 Delay infection timers on maps that were also delayed back in CSGO
  mapcfg/ze_puta_p.cfg
  mapcfg/ze_saw_p.cfg
Labels: Map Config

#7 christmas maptest configs
  stripper/ze_christmas_p/default_ents.jsonc
Labels: Stripper

#8 Update saw and MC sakura
  mapcfg/ze_saw_p.cfg
  stripper/ze_minecraft_sakura/default_ents.jsonc
Labels: Stripper, Map Config
